.edit-site-sidebar-navigation-screen__content .edit-site-navigation-inspector .components-button {
	color: $gray-600;

	&:hover,
	&:focus,
	&[aria-current] {
		color: $white;
		background: $gray-800;
		border-width: $border-width-tab;
	}
}

.edit-site-sidebar-navigation-screen__content .block-editor-list-view-block-select-button {
	cursor: grab;
}
